<html>
  <!--/////////////////////
          HEAD
  //////////////////////-->
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type ="text/css" href="css/index_style.css">
    <title>THE MEAN BLOG!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>

  <!--/////////////////////
          Body
  //////////////////////-->
  <body ng-app="Blog">

      <main>
          <ui-view></ui-view>

        <form class="form card-panel row" ng-submit="addPost()">
            <h5 class="center">Add a new post!</h5>
            <div class="form-group col s12">
                <input class="form-control" type="text" placeholder="Title" ng-model="title"></input>
            </div>
            <div class="form-group col s12">
                <input type="text" placeholder="Link" ng-model="link"></input>
            </div>
            <button class="form_button col s12 btn" type="submit">Post</button>
        </form>
        <hr>
        <div class="posts card-panel" ng-repeat="post in posts | orderBy: '-upvotes' ">
            <span class="upvote" ng-click="incrementUpvotes(post)"><i class="material-icons" style="color:#33dd32;">thumb_up</i></span>
            <span class="post-content">
                {{  post.upvotes }}
                <a ng-show="post.link" href=" {{ post.link }}">
                    {{ post.title }}
                </a>
                <span ng-hide="post.link"> {{ post.title }} </span>
            </span>
        </div>
    </main>

    <script type="text/ng-template" id="/home.html">
        <div class="page-header card-panel">
            <h1>{{ ::blog_title }}</h1>
        </div>

      <!-- rest of template -->
        <span>
            <a href="#/posts/{{$index}}">Comments</a>
        </span>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header card-panel">
        <h3>
            <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
            <span ng-hide="post.link">
                {{post.title}}
            </span>
        </h3>
      </div>
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
         <span class="glyphicon glyphicon-thumbs-up"
           ng-click="incrementUpvotes(comment)"></span>
         {{comment.upvotes}} - by {{comment.author}}
         <span style="font-size:20px; margin-left:10px;">
           {{comment.body}}
         </span>
       </div>

        <form ng-submit="addComment()"
            style="margin-top:30px;">
            <h3>Add a new comment</h3>

            <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Comment"
                ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </script>

  </body>

  <script src="scripts/app.js"></script>
  <script src="scripts/Main/mainCtrl.js"></script>
  <script src="scripts/Main/postCtrl.js"></script>
</html>
